build
vendored
build-android
.gradle
.cxx
.vscode
.cache
ttf_bundle_later
arm64
external
third_party
gstreamer-1.0-android-universal-1.27.2.1
gstreamer-1.0-android-universal-1.27.2.1-runtime
android-project/app/libs
android-project/app/src/main/jni
x86
x86_64
arm64-v8a
armeabi-v7a
